.ticket {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    width: 963px;
}

.ticket_header-actions {
    margin-top: 36px;
    display: flex;
}

.ticket_header-actions.routeBack {
    justify-content: end;
    margin-right: 24px;
}

.ticket__header-icon {
    margin-left: 19px;
    margin-right: 10px;
}

.ticket_header-button {
    font-weight: 700;
    font-size: 24px;
    color: #292929;
    padding: 0 33px 0 33px;
    border: 1px solid #292929;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #ffffff;
}

.ticket_header-button:hover {
    color: #ffa800;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ticket_header-button:active {
    background: #ffa800;
    color: #292929;
}

.train.ticket_header-train {
    background: #f7f6f6;
}

.seats .train_logo {
    background: #f7f6f6;
}

.seats .train {
    width: 100%;
    box-sizing: content-box;
    box-shadow: none;
    border: none;
    min-width: auto;
    min-height: auto;
    margin-bottom: 40px;
}

.seats .train_logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    padding: 0 15px 0 0;
    position: relative;
}

.seats .train_logo::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    right: 0;
    border: 1px solid #ffffff;
}

.seats .train_logo-icon {
    margin: 0 27px 0 35px;
}

.seats .train_title {
    width: 153px;
    align-self: auto;
}

.seats .train_name {
    margin-bottom: 5px;
    align-self: auto;
}

.seats .train_routes {
    width: auto;
    padding: 28px 36px 26px 36px;
    position: relative;
}

.seats .train_routes::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ffffff;
}

.seats .train_route-duration {
    align-self: center;
    margin: 0 54px 0 20px;
}

.seats .train_info {
    border: none;
    align-self: center;
    width: auto;
    padding: 0 0 0 35px;
}

.seats .train_icon-clock {
}

.seats .train__info-duration {
    margin-left: 10px;
    width: 100px;
}

.seats .train_time {
    display: flex;
    align-items: center;
}

.ticket {
    margin-bottom: 30px;
}

.ticket_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #292929;
    margin-left: 17px;
    margin-top: 27px;
}

.ticket_count {
    position: relative;
    margin-bottom: 77px;
}

.ticket_count::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: -49px;
    border: 1px dashed #c4c4c4;
}

.ticket_count-wrapper {
    display: flex;
}

.ticket_count-card {
    width: 33.33%;
    padding: 20px 35px 0 35px;
}

.ticket_count-list {
    width: 100%;
    padding: 15px;
    border: 1px solid #928f94;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    color: #292929;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ticket_count-text {
    margin-top: 23px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
}

.count-child {
    color: #928f94;
}

.ticket_count-list::-ms-expand {
    display: none;
}

.ticket_class-list {
    list-style-type: none;
    display: flex;
}

.ticket_class-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket_class-item:nth-child(n + 2) {
    margin-left: 150px;
}

.ticket_class-button {
    border: 0;
    background-color: transparent;
}

.ticket__class-icon {
    fill: #c4c4c4;
}

.ticket_class-name {
    margin-top: 18px;
    font-size: 24px;
    color: #928f94;
}

.ticket_class-button--active .ticket__class-icon {
    fill: #ffa800;
}

.ticket_class-button--active .ticket_class-name {
    color: #ffa800;
}

.ticket_coach {
}

.ticket_coach-header {
    min-height: 37px;
    background: rgba(255, 168, 0, 0.44);
    display: flex;
    align-items: center;
}

.ticket_coach-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #2d2b2f;
}

.ticket_coach-item {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-left: 7px;
    color: #292929;
    cursor: pointer;
}

.ticket_coach-item--active {
    color: #ffffff;
}

.ticket_coach-numbering {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #292929;
    margin: 0 20px 0 auto;
}
