.home-page {
  background-color: rgb(187, 100, 0);
  background-size: cover;
  background-image: url('../../../../images/backgrounds/main_background.png');
  border-bottom: 8px solid #FFA800;
  vertical-align: middle;
}

.home-header {
  display: flex;
  flex-wrap: wrap;
}

.logo-wrapper {
  position: relative;
  padding-top: 15px;
  z-index: 3;
}

.logo-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.header-title {
  margin-left: 14%;
  padding-top: 400px;
}

.header-title__tagline {
  font-family: "Roboto Thin";
  font-size: 72px;
  line-height: 84px;
}

.header-title__tagline em {
  display: block;
  font-family: "Roboto Bold";
  font-style: normal;
}