.success-page {
  min-width: 1700px;
}

.success-page-header {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../../images/backgrounds/success_background.png');
  vertical-align: middle;
  height: 830px;
}

.success-page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}

.menu-wrapper {
  position: relative;
  z-index: 3;
}