.order-page {
    min-width: 1700px;
}

.order-page__content {
    display: flex;
    padding-top: 95px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    gap: 25px;
}
